{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>
        {% block title %}
            Graphical Reports home page
        {% endblock title %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">ICD Code Mapper & Grahpical Report Generator</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{% static 'images/appiconheart.png' %}" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">For the next great business</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora 
			  cumque eligendi in nostrum labore omnis quaerat.</p>
              
            </div>
			
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Officia quaerat eaque neque</li>
                <li>Possimus aut consequuntur incidunt</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
				<li>Possimus aut consequuntur incidunt</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <section class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Our Team</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet 
			consectetur adipisicing elit. Minus minima neque tempora reiciendis.</p>
          </div>
        </div>
				
        <div class="row" style="align-content: center">
          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200" style="align-content: center">
          
			<div class="team-member">			
             <!-- <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-envelope-o"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-github-alt"></span></a></li>
                </ul>
                <img src="images/person_7.jpg" alt="Image" class="img-fluid">
              </figure>
			  -->
              <div class="p-3">
                <h3>Seema Safar</h3>
                <span class="position">Project Guide</span>
              </div>		  
            </div>
			
			</div>
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
			<div class="team-member">			
              <div class="unit-4">
			      <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
			
			  <div>
                    <h3>Web &amp; Mobile Specialties</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis 
					consect.</p>
                  </div>
                   </div> 
              </div>
			  </div>
			  <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
			  
              <div class="team-member">			
              <div class="unit-4">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                  <div>
                    <h3>Intuitive Thinkers</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis.</p>                    
                  </div>
                </div>
     		</div>
			</div>
			
			
			
			
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
			  
              <div class="team-member">			
              <div class="unit-4">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                  <div>
                    <h3>Intuitive Thinkers</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis.</p>                    
                  </div>
                </div>
     		</div>
			</div>
			
			
			</div>
			
		<div class="row">
          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
            <div class="team-member">
              
              <div class="p-3">
                <h3>Faraz Nazeer</h3>
                <span class="position">Developer</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              
              <div class="p-3">
                <h3>Rony Joy</h3>
                <span class="position">Developer</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
              <div class="p-3">
                <h3>Sadiq Naizam</h3>
                <span class="position">Developer</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              
              <div class="p-3">
                <h3>Sebin Poulose</h3>
                <span class="position">Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <script src="{% static '/js/aos.js' %}"></script>
  <script src="{% static 'js/mainabout.js' %}"></script>
    <hr>
  </body>
</html>