{% extends 'basehome.html' %}
{% load widget_tweaks %}
{% block title %}
    ICD Mapper home page
{% endblock title %}
{% block greporthomeblock %}
   <li><a href="{% url 'icdmapperhomepage' %}">Home</a></li>
   {% endblock greporthomeblock %}
{% block testsetblock %}

   {% endblock testsetblock %}
{% block bodypart %}
    Current User :  {{ user.username }}
    <form method="post" novalidate action="{% url 'icdmapperhomepage' %}">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
    <center>
    <button type="submit" class="btn btn-primary">Submit</button>
    </center>
    </form>
    <center>
    {% if answer %}
        {% for elem in answer %}
            Diagnosis : <b>{{ elem.0 }}</b> ICD-10 Code :  <b>{{ elem.1 }}</b>
        {% endfor %}
    {% endif %}
    <hr>
    <br>
    <h3>Upload a remote file from the System</h3>
    <br>
    <form method="post" enctype="multipart/form-data" action="{% url 'icdupload' %}">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit" class="btn btn-primary" >Upload a File</button>
    </form>
    {% if url %}
        <br>
        <p>File uploaded : {{ url }}</p>
    {% endif %}
    {% if result %}
        <h4>RESULTS</h4>
        <table>
            <tr>
                <th>Diagnosis</th>
                <th>ICD-10 Code</th>
            </tr>
        {% for key,val in result.items %}
            {% for elem in val %}
                <tr>
                <td><b>{{ elem.0 }}</b></td>
                <td><b>{{ elem.1 }}</b></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </table>
    {% endif %}
    <hr>
    <br>
    <h3>Load files from Storage to map to ICD Codes</h3>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'loadstorage' %}">Load files from Storage</a>
    </center>
{% endblock bodypart %}
<br>
<br>
