{% extends 'basehome.html' %}
{% block testsetblock %}
   <li><a href="{% url 'icdset' %}">ICD-10 Codes Lookup</a></li>
   {% endblock testsetblock %}
{% block greporthomeblock %}
   <li><a href="{% url 'icdmapperhomepage' %}">Home</a></li>
   {% endblock greporthomeblock %}
{% block bodypart %}
    {% if loaded_data %}
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search For ICD Codes" title="Type in a name">
    {% endif %}
    <br>
    {{ loaded_data | safe }}
    <script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementsByClassName("dataframe")[0];
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock bodypart %}
