{% extends 'basehome.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    ICD Mapper Storage
{% endblock title %}
{% block greporthomeblock %}
   <li><a href="{% url 'icdmapperhomepage' %}">Home</a></li>
   {% endblock greporthomeblock %}
{% block testsetblock %}

{% endblock testsetblock %}
{% block bodypart %}
<center>
<h2>File List</h2>
<div style="text-align: center;width: max-content">
    <div style="display: inline-block; text-align: left;width: max-content">
    <form method="post" action="{% url 'loadstorage' %}" style="width: inherit">
     {% csrf_token %}
 {% for file in total_files %}
  <input type="checkbox" name="userselect" value="{{ file }}">{{ file }}<br>
 {% endfor %}
    </div>
</div>
<br>
  <button type="submit" class="btn btn-primary" >Map selected files</button>
</form>

{% if result %}
    <h4>RESULTS</h4>
     {% for key,value in result.items %}
         <b>Filename : {{ key }}</b>
        <table>
            <tr>
                <th>Diagnosis</th>
                <th>ICD-10 Code</th>
            </tr>
        {% for elem in value %}
                <tr>
                <td><b>{{ elem.0 }}</b></td>
                <td><b>{{ elem.1 }}</b></td>
                </tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endif %}
    </center>
    <link rel="stylesheet" href="{% static '/css/table.css' %}">
{% endblock bodypart %}
