{% extends 'basehome.html' %}
{% load widget_tweaks %}
{% block title %}
    ICD Mapper home page
{% endblock title %}
{% block greporthomeblock %}
   <li><a href="{% url 'icdmapperhomepage' %}">Home</a></li>
   {% endblock greporthomeblock %}
{% block testsetblock %}

{% endblock testsetblock %}
{% block bodypart %}
<center>
<h2>File List</h2>
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">


    <form method="post" action="{% url 'loadstorage' %}">
     {% csrf_token %}
<table border="1" colspan="1" width="100%">
 {% for file in total_files %}
   <tr>
  <input type="checkbox" name="userselect" value="{{ file }}">{{ file }}<br>
   </tr>
 {% endfor %}
</table>
    </div>
</div>
<br>
  <button type="submit" class="btn btn-primary" >Map selected files</button>
</form>

{% if result %}
    <h4>RESULTS</h4>
    {% for key,value in result.items %}
        Filename : {{ key }}
        <table>
            <tr>
                <th>Diagnosis</th>
                <th>ICD-10 Code</th>
            </tr>
        {% for elem in value %}
                <tr>
                <td><b>{{ elem.0 }}</b></td>
                <td><b>{{ elem.1 }}</b></td>
                </tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endif %}


    </center>
{% endblock bodypart %}
